{% extends 'adminside/base.html' %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Category</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Overview</li>
        </ol>
        <div class="d-flex justify-content-between">
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search by product name" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <a class="btn btn-primary" href="add-category" role="button">Add Category</a>
        </div>
        <br>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Category Name</th>
                <th scope="col">Category Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for category in categories %}
              <tr>
                <td><a href="{% url 'd-sub-category' category.category_name %}">{{category.category_name}}</a></td>
                <td>{{category.category_status}}</td>
                <td>
                  <div class="row">
                    <div class="col">
                    <a class="btn btn-secondary" href="{% url 'category_details' category.category_name %}" role="button">Details</a>
                    </div>
                    <div class="col">
                    {% if category.category_status is True %}
                    <div class="form-group">
                      <a class="btn btn-danger" href="{% url 'u-category-status' category.category_name %}" role="button">Block</a>
                    </div>
                    {% else %}
                    <div class="form-group">
                      <a class="btn btn-success" href="{% url 'u-category-status' category.category_name %}" role="button">Unblock</a>
                    </div>
                    {% endif %}
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}