{% extends 'userside/base.html' %}

{% block content %}
<div class="main">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="static/images/img1.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
  </div>
  <br>
  <div class="bg-black">
    <br>
    <div class="category-box bg-white">
      <h3 class="display-3 font-weight-bold text-center">C A T E G O R I E S</h3>
    </div>
  </div>
  <div class="bg-black">
    <br>
    <div class="bg-white">
      <br>
      <div class="row d-flex justify-content-around mt-3">
        <br>
        <div class="col md-4 d-flex justify-content-around">
          <div>
            <a href="{% url 'user-d-product' 'CHICKEN' user.id %}"><img src="static/images/img2.svg" alt=""></a>
            <h2 class="d-flex justify-content-center">CHICKEN</h2>
          </div>
        </div>
        <div class="col md-4 p-0 d-flex justify-content-around">
          <div>
            <a href="{% url 'user-d-product' 'BEEF' user.id %}"><img src="static/images/img3.svg" alt=""></a>
            <h2 class="d-flex justify-content-center">BEEF</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <br>
    <div class="category-box bg-black">
      <h3 class="display-5 font-weight-bold text-center text-light pt-2 pb-3">Best Sellers</h3>
    </div>
  </div>
  <div class="bg-white">
    <br>
    <div class="bg-black">
      <br>
      <h2 class="pt-2 pl-5 pb-4 ml-4 text-white">CHICKEN</h2>
      <div class="row d-flex justify-content-start ml-5 mr-5">
        <div class="col-md-4 col-sm-6 mb-5">
          <div class="card c-card">
            <img src="static/images/chickenboneless-img6.jpg" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title">Chicken Drumstick - Pack Of 6</h5>
              <p class="card-text">Juicy bone from chicken drumstick,cut from the leg</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <h4 class="card-text">$ 210.0</h4>
              <small class="text-muted">90 mins</small>
              <a href="#" class="btn btn-primary mr-2">Add</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-5">
          <div class="card c-card">
            <img src="static/images/chickenbreast&drumstick combo-img10.jpeg" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title">Chicken Breast - Boneless</h5>
              <p class="card-text">Enjoy tender pieces of juicy chicken breast</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <h4 class="card-text">$ 160.0</h4>
              <small class="text-muted">90 mins</small>
              <a href="#" class="btn btn-primary mr-2">Add</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-5">
          <div class="card c-card">
            <img src="static/images/chickenthigh-img7.jpg" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title">Chicken Mince/Keema - 250 gms (Mini Pack)</h5>
              <p class="card-text">Tender, Perfectly ground meat</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <h4 class="card-text">$ 210.0</h4>
              <small class="text-muted">90 mins</small>
              <a href="#" class="btn btn-primary mr-2">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <a href="{% url 'user-d-product' 'CHICKEN' user.id %}"><button type="button" class="btn btn-outline-light">View All</button></a>
      </div>
    </div>


    <div class="bg-black">
      <br>
      <h2 class="pt-2 pl-5 pb-4 ml-4 text-white">BEEF</h2>
      <div class="row d-flex justify-content-start ml-5 mr-5">
        <div class="col-md-4 col-sm-6 mb-5">
          <div class="card b-card">
            <img src="static/images/beef-img19.webp" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title">SIERRA STEAK-300 gms</h5>
              <p class="card-text">Dry aged steak from the beef’s chuck section</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <h4 class="card-text">$ 310.0</h4>
              <small class="text-muted">90 mins</small>
              <a href="#" class="btn btn-primary mr-2">Add</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-5">
          <div class="card b-card">
            <img src="static/images/flatIron-img20.webp" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title">LEAN GROUND BEEF-450 gms</h5>
              <p class="card-text">Our Lean Ground Beef is a delicious blend of 90% dry-aged beef and 10% fat.</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <h4 class="card-text">$ 360.0</h4>
              <small class="text-muted">90 mins</small>
              <a href="#" class="btn btn-primary mr-2">Add</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mb-5">
          <div class="card b-card">
            <img src="static/images/beefbone-inribeye-img15.webp" class="card-img-top" alt="image">
            <div class="card-body">
              <h5 class="card-title">Chicken Drumstick - Pack Of 6</h5>
              <p class="card-text">Juicy bone from chicken drumstick,cut from the leg</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <h4 class="card-text">$ 210.0</h4>
              <small class="text-muted">90 mins</small>
              <a href="#" class="btn btn-primary mr-2">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col text-center pb-5">
        <a href="{% url 'user-d-product' 'BEEF' user.id %}"><button type="button" class="btn btn-outline-light">View All</button></a>
      </div>
    </div>

    <div class="col text-center mt-5 pt-3 mb-5 pt-3">
      <button type="button" class="btn btn-outline-dark">SHARE YOUR FEEDBACK HERE</button>
    </div>

  </div>


</div>
{% endblock %}