{% extends 'userside/profilebar.html' %}
{% block content %}

<div class="container d-flex justify-content-center m-5">
    <div class="card mb-3 w-50">
        <img src="/media/{{ order.product.product_image_id.image1 }}" class="card-img-top align-self-start mr-3 h-50 rounded-3 img-fluid" alt="image1">
        <div class="card-body">
          <h3 class="card-title">PRODUCT : {{ order.product.product_name.upper }}</h3>
          <br>
          <b><p class="card-dark">Order ID : {{ order.id }}</p></b>
          <b><p class="card-text text-dark">Shipping Address: <br>{{ order.bulk_order.address.full_name }}, {{ order.bulk_order.address.building }}, {{ order.bulk_order.address.area }}, {{ order.bulk_order.address.landmark }}, {{ order.bulk_order.address.city }}, {{ order.bulk_order.address.state }} - {{ order.bulk_order.address.pincode }}</p></b>
          <br>
          <b><p class="card-dark">Order status : {{ order.order_status }}</p></b>
          <br>
          {% if order.payment_status %}
          <b><p class="card-dark">Payment status : Paid</p></b>
          {% else %}
          <b><p class="card-dark">Payment status : Pending</p></b>
          {% endif %}
          <br>
          <b><p class="card-dark">Order Date : {{ order.bulk_order.date }}</p></b>
          <b><p class="card-dark">Expected arrival : {{ order.bulk_order.delivery_date }}</p></b>
          {% if order.order_status == 'delivered' %}
          {% if expire %}
          {% else %}
          <div class="d-flex justify-content-start"><a href="{% url 'userorderstatus' order.id 'return' %}" class="btn btn-outline-danger d-flex align-items-center justify-content-center">Return</a></div>
          {% endif %}
          {% elif order.order_status == 'returned' %}
          <div class="d-flex justify-content-start"><a href="#" class="btn btn-outline-danger d-flex align-items-center justify-content-center">Returned</a></div>
          {% else %}
          <div class="d-flex justify-content-start"><a href="{% url 'userorderstatus' order.id 'cancel' %}" class="btn btn-outline-danger d-flex align-items-center justify-content-center">Cancel</a></div>
          {% endif %}
        </div>
    </div>
</div>

{% endblock %}